.Anunciante
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 35px;
  box-sizing: border-box;
  background: url('../images/banner3.jpg') no-repeat center
  color: #fff;
  line-height: 1.4em
  margin-top: 20px
  margin-bottom: 40px

  @media screen and (max-width: 800px)
    display: none
