#CategoriaView
  width: 100%
  max-width: 1100px
  margin: 0 auto
  margin-top: 120px
  position: relative;
  .categoria-name
    background-color: #fff
    border-bottom: 2px solid #FC4482
    line-height: 48px
    height: 48px
    text-align: center;
  .fixed-section
    z-index: 2
    margin-top: 115px
  .section-name
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: rgb(33, 33, 33);
  .Ultimos
    .left
      margin: 0 auto
    .right
      display: none
