  .autor-info-holder
    display: flex;
    width: 100%
    margin-top: 10px
    .autor-info
      width: 100%
      display: flex
      margin-left: 2px
      .info
        display: flex
        width: 85%
        flex-direction: column
        justify-content: center
        .name-info
          color:#F14A08;
          font-weight:bold;
          font-size:20px;
      span
        text-transform: capitalize
        &:hover
          color: rgba(0, 0, 0, .9)
        &:last-child
          font-size: 13px
          color: #727272
          white-space: nowrap!important;
          text-overflow: ellipsis!important;
          overflow: hidden!important;
    span
      font-size: 1.13em;
      margin-left: 15px;
      line-height: 1.35em;
      font-weight: normal;
      letter-spacing: 0.03em;

    img
      margin-bottom: 0