.ExtratoIndicacoesEmpresas
  margin-top: 20px
  padding: 5px 20px;
  .Tabela
    h1
      color:#f14a08;
      font-weight:200;
.Mensagem
  h1
    color:#f14a08;
    font-weight:200;
  h2
    text-align:center;
    font-size:1em;
    font-weight:100;
    color:#ddd;
      img
        padding-left:45%;
    a:hover
      color:#f14a08;
      cursor: pointer;
@media screen and (max-width: 800px)
  .ExtratoIndicacoesEmpresas
    max-width: 1100px;
    width:660px;
    padding: 5px 20px;
