.Ultimos
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 55px;
  margin-bottom: 45px;
  width: 100%
  .left
    width: 100%
    max-width: 675px
    .loading-gif
      max-width: 680px
    .CardPostGrande
    &:first-child
      margin-top: 10px
  .right
    padding-left: 20px
    width: 270px
    .fixed-widgets
      margin-top: 120px

  .CardPostPequeno
    margin: 0 5px;
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

  .section-name
    color: #363739;
    font-weight: 500
    margin-bottom: 15px;
    margin-left: 0
    position: absolute;
    left: 0;
    top: 25px;
    font-size: 1.15em;

  .posts-upper
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;

  .posts-down
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .Post
      height: 15.5em

  @media screen and (max-width: 800px)
    .left
      width: 100%
      max-width: none
      .CardPostGrande
        margin: 15px auto
    .right
      display: none
    .section-name
      margin-left: 18px
      font-size: 1.15em
    .posts-down
      width: 100%
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 0;
      box-sizing: border-box;
      .CardPostPequeno
        height: 30vh
        width: 45%
        &:first-child
          display: none
        &:last-child
          display: none
        .tags
          display: none
        .legenda-holder
          height: 45%
