#PostSlick {
  height: 100%;
  margin-top: 35px;
}

.slider {
    display: flex !important;
    flex-direction: row !important;
    min-height: 100px !important;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.post_title_div {
    height: 30%; 
}

.post_title {
    color:#F14A08;
    font-weight:bold;
    font-size:25px;   
    margin: 0; 
  }

.slick_item {
    display: flex !important;
    flex-direction: row;
    max-height: 100px;  
}

.slick_item_section1 {
//    justify-content: center;
//    justify-content: space-around;
    width: 40%;    
    height: 100%;    
    -webkit-align-self: center;
    align-self: center;  
    margin-right: 5%;
    min-height: 100px;      
    min-width: 100px;      
}

.slick_item_iamge {
    width: 100%; 
    max-width:100px;   
    height: auto; 
       
    -webkit-align-self: center;
    align-self: center;  
}

.slick_item_section2 {
    display: flex !important;
    flex-direction: column;
    margin-right: 5%;

}

.slick_item_title_div {
    height: 30%; 
}

.slick_item_title {
    color:#F14A08;
    font-weight:bold;
    font-size:17px;  
    margin: 0;  
    white-space: nowrap; 
    max-width: 200px !important;
    overflow: hidden;
  }

.slick_item_page_div {
    height: 80%;     
}

.slick_item_page {
    font-size:12px;
    margin: 0;   
    max-width: 200px !important;
    overflow: hidden;
}
