#PostCombo {
  height: 100%;
  margin-top: 35px;
}

.post_title_div {
    height: 30%; 
}

.post_title {
    color:#F14A08;
    font-weight:bold;
    font-size:25px;   
    margin: 0; 
  }

.post_combo {
    display:flex;
    flex-direction:row;
    justify-content: space-around
}

.post_segmento_div {
    margin-right:10%;
}

.post_categoria_div {
    margin-right:10%;
}

.post_subcategoria_div {
    margin-right:10%;
}

.SelectField {
    min-width:300 !important;
    width:300 !important;
    height:auto;
}
