.Contato
  height: 100%;
  margin-top: 135px;
  .content-holder
    height: 100%;
    max-width: 1100px;
    margin:0 auto;
    padding: 30px;
    box-sizing: border-box
    display:flex;
    justify-content: space-around
  form
    width:600px;
    display:block;
    height:auto;
    .primeira
      display:flex;
      flex-direction:row;
      justify-content:space-between;
    .segunda
      margin-top:10px;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
    .terceira
      display:flex;
      flex-direction:row;
      justify-content:space-between;
  .redes-sociais
    display:flex;
    padding-bottom:30px;
    justify-content: center
    img
      margin: 0 6px
      margin-top: 5px
      cursor: pointer
  .formulario-contato
    margin: 0 auto;
  .input-telefone
    margin-top: 8.8%;
@media screen and (max-width: 800px)
  .Contato
    form
      width: auto;
      display: block;
      height: auto;
      .primeira
        display: flex;
        flex-direction: column;
        width:25%;
      .segunda
        display: flex;
        flex-direction: column;
        width:25%;
      .terceira
        display: flex;
        flex-direction: column;
        width:25%;
