.CadastroView
  display: flex
  margin-top: 135px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .mensagem-termos
    font-size: 0.77em
    color: #727272
    position: absolute;
    left: 0
    right: 0
    bottom: 55px
    &:hover
      color: #212121
  .cadastro-button
    margin-top: 55px
    div
      border-radius: 999em!important
