.BannerContent
  display: flex;
  position: relative;
  flex-direction: column;
  height: 290px
  box-sizing: border-box;
  color: #fff;
  width: 100%
  max-width: 1100px
  margin: 0 auto
  padding: 16px
  padding-left: 32px
  background-position: center!important;
  background-size: cover!important;

  .texto
    margin: auto
    h3
      font-size: 2em
      margin: 0
      font-weight: 500
    p
      font-size: 1.3em
      font-weight: 400
  .close-icon
    position: absolute!important
    top: 0px
    right: 0px

  @media screen and (max-width: 800px)
    .anuncio-image
      display: none
