.Extrato
  max-width: 1100px;
  margin 0 auto
  margin-top: 118px
  .extrato-content
    padding-top: 20px
  .tab-icon
    color: #212121!important
    fill: #212121!important

  @media screen and (max-width: 800px)
    max-width: 1100px;
    margin 0 auto
    margin-top: 118px
    padding-bottom:1%;
    box-sizing:border-box;
